@charset "utf-8";

/* 20220222 レスポンシブkita*/

.detail{
	display:inline-block;
}
/* 2023-03-07 12:00 谷上 取り消し線iphoneで反映されない対応 */
.discount {
	text-decoration-line: line-through;
	text-decoration-color: red;
}
.sho2 *{
	margin:0 auto;
}
.cart_button_class,.detail{
	width:200px;
    text-align: center;
    color: black;
	background-color: #ffffff;
	border:solid 1px;
	padding:10px;
	height:40px;
	border-radius:20px;
	user-select: none;
}
.bt{
	margin-top:40px;
	width:200px;
}
.cart_msg,.cart_errmsg{
	position:relative;
	height:0;
	top:-15px;
	text-align: center;
    font-size: 16px;
    user-select: none;
}
.cart_errmsg{
	top:-35px;
}

 /* ----------ここからレスポンシブ---------- */
 @media screen and (max-width: 640px) {
 
	h1{
    margin: 20px 0 5px 0;
    font-size: 18px;
    font-weight: bold;
  }
	table{
		width: 100%;
		margin: 0;
		position: relative;
	}
	tr{
		width: 100%;
	}
	th{
		width: 45vw;
		height: 100%;
		align-items: stretch;
		padding-left: 5px;
	}
	th img{
		width: 100%;
		height: 100%;
		border-radius: 5px;

	}
	.td1{
		width: 100%;
		margin :15px auto auto auto;
	}
	.td1 p{
		padding: 5px;
		margin: 0;
	}
	.clm{
		width: 100%;
	}
	.clm p{
		padding:15px 0 5px 15px;
		/* white-space: nowrap;
		overflow: hidden; */
	}
	.td2{
		/* width: 0px; */
		position: absolute;
		bottom: 15%;
		left: 35%;
	}
	.sho2 form, .sho2 #cart_button {
		display: none;
	}
	.sho2{
		margin: 0;
		height: 40px;
	}
	.cart_button_class{
		padding: 5px;
	}
	
  .line{
    width: 90%;
    margin: 10px auto;
    border-top: 2px solid #888888;
  }
	.sort{
		margin: 20px 10px 5px auto;
 	}
	.selectwrap::after{
		top:8px;
		right: 25px;
	}



}