@charset "utf-8";

/*---- 20230222 レスポンシブkita ----*/

body {
  font-size: 18px;
  color: #121212;
}

main h2{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin: 80px 0 40px 0;
}

main p{
	margin: 10px 0;
}

.innerWrap, #he {
  width: 1200px;
  margin: 0 auto;
  /* padding: 80px 20px 0; */
}

.bt {
	
    text-align: center;
    width: 200px;
    margin: 0 auto;
    height:40px;
	color: #ffffff;
	background: #888888;
	border-radius: 20px;
}

.form{
	width:600px;
	margin: 0 auto;
}

input[type="email"],
input[type="password"]{
	border: 1px solid #cccccc;
	background-color: #ffffff;
	width: 600px;
	margin: 5px;
	padding: 4px 8px;
	border-radius: 5px;
}
.link {
	text-align: center;
	margin-bottom: 10px;
	
}
footer{
	width: 1200px;
	margin: 0 auto;
}

/* ----------ここからレスポンシブ---------- */
@media screen and (max-width: 640px) {

	h1{
    margin: 20px 0 5px 0;
    font-size: 18px;
    font-weight: bold;
  }
	main h2{
		font-size: 18px;
		text-align: center;
		margin: 40px 0;
	}
	main p{
		margin-left: 8px;
	}
	.form{
		width: 100vw;
	}
	input[type="email"], input[type="password"]{
		/* margin: 5px auto; */
		width: 97vw;
	}
	.bt{
		padding: 8px;
	}
	.link{
		margin-bottom: 40px;
	}
	footer{
		padding:40px auto;
		width: 100vw;
	}




}